.conversion-result {
  font-weight: bold;
  font-size: 20px;
}

a.logo img {
  padding-top: 7px;
  padding-right: 20px;
}

#reset-btn {
  display: none;
}

.results-row {
  display: none;
}

h1.brand {
  margin: 0;
}

.header {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width:768px) {
  #header-ad {
    padding: 20px;
  }

  .conversion-result {
    font-size: 12px;
  }
}