body {
  font-size: 18px;
}

.header {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1.brand {
  margin: 0;
}

a.logo img {
  padding-top: 7px;
  padding-right: 20px;
}

.result-cell {
  /* text-align: right; */
}

.footer {
  margin-top: 50px;
}